.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 2px solid rgb(230, 230, 230);
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  margin-bottom: 20px;
}

.card img {
  height: 100px;
}

.card h3 {
  font-size: 15px;
}

.card p {
  font-size: 15px;
  color: rgb(179, 177, 177);
}